::-moz-selection {
	background: hsl(0, 0%, 90%) !important;
}
::selection {
	background: hsl(0, 0%, 90%) !important;
}
* {
	/*text-align: center;*/
}
canvas {
	/*padding: 5px;*/
	border: 2px solid #333;
}

#user-map {
/*	transform: scale(1,1);
	width: 512px;
	height: 256px;*/
}

#sprites-img, #sprite-select-display {
	position: absolute;
	left: 20px;
	top: 80px;
}

#sprite-select-display {
	border: 1px solid #333;
	z-index: -1;
}

#hover-preview {
	margin-top: 550px;
}

#sprites-img {
	width: 968px !important;
	height: 526px !important;
}